.button {
  width: 100%;
  font-family: 'Pretendard';

  border: none;
  border-radius: 12px;

  font-size: 20px;
  font-weight: 700;
  color: #454545;
  background-color: transparent;
  cursor: pointer;

  font-size: 16px;
  height: 50px;
  border-radius: 8px;
}

.button-container {
  margin: 0px 0 25px;
}

.basic {
  background-color: #bb2649;
  color: #fff;
  border: 1px solid #840925;
  letter-spacing: 1.5px;

  &:hover {
    background: lighten(#bb2649, 5%);
  }
}

.delete-btn {
  background-color: transparent;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.icon-button {
  background-color: #d9d9d9;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  width: 40px;
  height: 40px;
}
