.post {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
  height: 76px;

  &__inner {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: calc(100% - 76px);

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  &__img {
    img {
      width: 76px;
      height: 76px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
  }

  &__content {
    font-size: 16px;
  }
}
