@mixin form {
  .title {
    margin: 15px 0;

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      height: 50px;
      border: none;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  .content {
    margin: 15px 0;

    textarea {
      border: none;
      font-size: 16px;
      padding: 10px;
      width: 100%;
      height: 100%;
      resize: none;
    }
  }
}
input::placeholder {
  color: #cbc9c9;
  // font-style: italic;
}

img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}

textarea::placeholder {
  color: #cbc9c9;
  // font-weight: bold;
}

.loading {
  text-align: center;
  position: absolute;
}

.heading {
  color: #454545;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 15px 0;
}

.title {
  input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }
}

.content {
  textarea {
    border: none;
    width: 100%;
    resize: none;
  }
}

.edit-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  @include form();
}

.loading {
  text-align: center;
  position: absolute;
}
