$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin form {
  input::placeholder,
  textarea::placeholder {
    color: #cbc9c9;
  }

  h2 {
    color: #454545;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 15px 0;
  }

  &__img-wrapper {
    height: 300px;
    border: 1px solid #e2e2e2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 15px 0;

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      height: 50px;
      border: none;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  &__content {
    margin: 15px 0;

    textarea {
      border: none;
      font-size: 16px;
      padding: 10px;
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  &__submit-btn {
    width: 100%;
  }
}
