* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
hr {
  width: 100%;
}

#app {
  width: 360px;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding: 18px;

  .content {
    height: 100%;
  }
}
