* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: rgb(218, 207, 207);
}
hr {
  width: 100%;
}

#app {
  width: 360px;
  height: 100vh;
  max-height: 800px;
  margin: auto;
  box-sizing: border-box;
  padding: 18px;
  background-color: #fff;
  .content {
    height: 100%;
  }
}
