* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: rgb(218, 207, 207);
}
hr {
  width: 100%;
}

#app {
  width: 360px;
  margin: auto;
  box-sizing: border-box;
  padding: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  .content {
    height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
